body{
    background-color: #161616;
}

.containerr{

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.containerr:hover .cardd{
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1)
rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.cardd {
    width: 200px;
    height: 200px;
    background-color: #2E2929;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.4s;
}

.containerr:hover .cardd:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1)
    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    box-shadow: 0px 4px 4px #0021da;
}



  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 20, 0.445);
  }
  
/* Animacion para aparecer por la derecha */
  #miDiv {
    left: 100%;
    animation: aparecer-derecha 3s forwards;
  }
   

  #miDiv:focus {
    animation: aparecer-derecha 2s forwards;
  }
  
  @keyframes aparecer-derecha {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
/* Fin Animacion para aparecer por la derecha */

  /* Animacion para aparecer por la izquierda */
  #miDiv2 {
    right: -100%;
    animation: aparecer-izquierda 2s forwards;
  }
                                                      
  

  #miDiv:focus {
    animation: aparecer-izquierda 3s forwards;
  }
  
  @keyframes aparecer-izquierda {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  /* Fin Animacion para aparecer por la izquierda */

